#!/usr/bin/env bash

export JAVA_HOME="/usr"
export SPARK_PUBLIC_DNS="{{ inventory_hostname }}"
export SPARK_WORKER_CORES=6
export PYSPARK_PYTHON="/home/ubuntu/anaconda2/envs/test/bin/python"
export PYSPARK_DRIVER_PYTHON="/home/ubuntu/anaconda2/envs/test/bin/python"